.container {
  position: relative;
  width: 380px;
  height: 460px;
  background: linear-gradient(
    114.99deg,
    #471ca9 -0.99%,
    #5736a3 54.28%,
    #4b2a99 78.99%
  );

  border-radius: 20px;
  padding: 28px 0px 36px 0px;
  margin-bottom: 30px;
}

.logo {
  position: absolute;
  top: 20px;
  left: 20px;
}

.design {
  width: 308px;
  height: 168px;
  margin-right: 0;
  padding-left: 36px;
}

.line {
  position: relative;
  margin-top: 18px;
  width: 380px;
  height: 8px;
  background-color: #ebd8ff;
  padding: 0;
  margin-bottom: 62px;
}

.user {
  position: absolute;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 9px solid #ebd8ff;
}

.tweets {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ebd8ff;
  text-align: center;
  margin-bottom: 16px;
  margin-top: 0;
}

.followers {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ebd8ff;
  text-align: center;
  margin-bottom: 26px;
  margin-top: 0;
}

.user {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ebd8ff;
  text-align: center;
  margin-bottom: 16px;
}

.button {
  display: block;
  margin: 0 auto;
  padding-top: 14px;
  padding-bottom: 14px;
  min-width: 196px;
  height: 50;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #373737;
  border: 0;
  background: #ebd8ff;
  box-shadow: 0px 3.43693px 3.43693px rgba(0, 0, 0, 0.25);
  border-radius: 10.3108px;
  cursor: pointer;
}

.button {
  background: #ebd8ff;
}

.active {
  background: #5cd3a8;
}
